//@sidebar-bg-color:darken(@body-bg, 3%); 
@sidebar-bg-color:rgba(0,0,0, .85); 

#menu {
    background: #111;
    background-color:@sidebar-bg-color;
    background: rgba(0,0,0, .4);
}
#menu:hover  {
    background:#111;
    color: #FFF;
}

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
border-top: 1px solid lighten(@sidebar-bg-color, 8%);
}


#menu a {
color: lighten(@sidebar-bg-color, 47%);
}

/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
background: lighten(@sidebar-bg-color, 25%);
    background:@brand-primary;
color: lighten(@sidebar-bg-color, 80%);
}

/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected,
#menu .pure-menu-heading {
background: @sidebar-bg-color;
}
/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a, #menu .active a {
color: @brand-primary;//lighten(@sidebar-bg-color, 67%);
}

/*
This styles the menu heading.
*/
#menu .section-heading {
//font-size: 100%;
text-transform: uppercase;

//        margin: 0;
}
#menu .section-heading a {
color: lighten(@sidebar-bg-color, 85%);
}

#menu .pure-menu-heading {
font-size: 115%;
color: lighten(@sidebar-bg-color, 90%);
//        margin: 0;
}
.menu-link {
background:#000;
}

.menu-link:hover,
.menu-link:focus {
background: #000;
}

