<div class="push"></div>
<footer id="content-info">
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul class="no-bullet">
      <li class="source-org vcarfd copyright">
        <a href="/">&copy; {{ site.time | date: '%Y' }} <span class="fn">{{site.sitename}}</span></a>
      </li>    
      <li>
        <a href="http://sonnetmedia.net">site by sonnet media</a>
      </li>
    </ul>
  </div>
</footer>

{% if page.background_image %}
  <img src="/assets/img/{{page.background_image}}" class="bg">
{% endif %}




