---
layout: default
title: Home
background_image: bg-clock_op34n13.jpg
---
<div class="splash">
	<h1>Chris Abani</h1>
	<div class="content">
		<a href="/book/the-secret-history-of-las-vegas/"><img src="/assets/img/the-secret-history-of-las-vegas_500x760.jpg" class="skew-l-3 image-shadow" style="float:left;margin-right:28px;max-height:350px;">	</a>


        <p class="quote">“Chris Abani might be the most courageous writer working right now. There is no subject matter he finds daunting, no challenge he fears. Aside from that, he's stunningly prolific and writes like an angel. If you want to get at the molten heart of contemporary fiction, Abani is the starting point.”</p>
<strong>&mdash; Dave Eggers, author of <em>The Circle</em></strong>

 <br />
 <p class="quote" style="text-indent:7em;">
 	<a href="/book/the-secret-history-of-las-vegas/">
 		<strong>read more</strong>
 	</a>
	</p>





<!--
		<p class="quote">“Chris Abani might be the most courageous writer working right now. There is no subject matter he finds daunting, no challenge he fears. Aside from that, he's stunningly prolific and writes like an angel. If you want to get at the molten heart of contemporary fiction, Abani is the starting point.”</p>
		<small>&mdash; Dave Eggers, author of <em>The Circle</em></small>

-->
<!-- <a href="#section2"><h1>V</h1></a> -->

	</div>
</div>

<!-- <div  class="content">
	<div class="pure-g-r">
		<div class="pure-u-1">
			<div id="section2" class="content-inner">
				{% for post in site.tags.video limit:1 %}
					<h2 class="post-titlfe"><a href="{{ post.url }}">{{ post.title }}</a></h2>
					{{ post.content }}
				{% endfor %}
			</div>
		</div>
		<div class="pure-u-1">
			<div class="content-inner">
				{% for post in site.categories.posts limit:13 %}
					{% if post.tags contains 'video' %}
						{% else %}
							<h2 class="post-titlfe"><a href="{{ post.url }}">{{ post.title }}</a></h2>
							<p class="post-excerpt">{{ post.excerpt | strip_html }}&hellip; <small>(<a href="{{ post.url }}">Read More</a>)</small></p>
						{% endif %}
					{% endfor %}
			</div>
		</div>
	</div>
</div> -->
