body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: @font-family-base;
}
#menu a:hover {
    text-decoration: none;
}
#menu li{
    font-family: @font-family-sans-serif;
	font-size: @font-size-base * .8;
    line-height:1.1;    
}

footer {
    font-family: @font-family-sans-serif;
	font-size: @font-size-base * .72;
    line-height:1;    
    background:none;
    margin-left: @layout-sidebar-width; /* left col width "#menu" */
}
.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
    background:none;
}
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 900px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.content img:first-child {
  float: left;
  margin: .5rem 1rem 0 0; 
  @include image-shadow;
}

.quote, .quote p {
    font-family: @headings-font-family;
    font-size: @font-size-base * 2.3;
}

blockquote.review {
    .quote;
    border-left: none;
    font-family: @headings-font-family;
}
blockquote small {
    font-family:@font-family-sans-serif;
    font-size: @font-size-base * .85;
    //font-weight:300;
}

.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children {
//    background: #000; /* Old browsers */
    border: none;
}

.splash {
    padding: 3em 2em;
}

.splash .content {
    max-width: 1400px;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }

.backstretch {
    opacity:0.12 !important;
}

.content-inner {
    padding:0 2em;
}


.entry-title {
    color: @brand-primary;
}
p{
    font-weight:@paragraph-font-weight;
}

#reviews {
    margin-top:3em;
}

article header {
     margin: 0;
     //color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid @page-header-border-color;
    margin-bottom:1em;
 }
    article header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     article header h2 {
        font-weight: 300;
        padding: 0;
        margin-top: 0;
    }

h1 {
    font-size:120px;
    text-align:center;
    margin-bottom:.75em;
    //color:#FFF;
    text-shadow:2px 1px 1px #000;
    font-weight:300;
}


#menu .pure-menu-heading {
    font-size:180%;
}
.image-shadow {
  -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.51);
}
//
.skew-l-3 {
    -moz-transform: scale(1) rotate(-3deg);
-webkit-transform: scale(1) rotate(-3deg);
-o-transform: scale(1) rotate(-3deg);
-ms-transform: scale(1) rotate(-3deg);
transform: scale(1) rotate(-3deg);
}

.skew-r-3 {
    -moz-transform: scale(1) rotate(3deg);
-webkit-transform: scale(1) rotate(3deg);
-o-transform: scale(1) rotate(3deg);
-ms-transform: scale(1) rotate(3deg);
transform: scale(1) rotate(3deg);
}
