#menu a:hover {
    text-decoration: none;
}
#menu li{
    font-family: @font-family-sans-serif;
	font-size: @font-size-base * .8;
    line-height:1.1;    
}

.pure-menu-heading {
    font-family: @font-family-serif;
}
footer {
    font-family: @font-family-sans-serif;
	font-size: @font-size-base * .72;
    line-height:1;    
    margin-left: @layout-sidebar-width; /* left col width "#menu" */
}
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 900px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.content img:first-child {
  float: left;
  margin: .5rem 1rem 0 0; 
  @include image-shadow;
}

blockquote {
    .quote;
    border-left: none;
}
blockquote small {
    font-family:@font-family-sans-serif;
    font-size: @font-size-base * 1;
}
.quote, .quote p {
    font-family: @font-family-quote;
    font-size: @font-size-base * 1.6;
}

.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: #000; /* Old browsers */
    border: none;
}

.splash {
    //margin: 2em auto 0;
    padding: 3em 2em;
    //background: #eee;
}

.splash .content {
    max-width: 1400px;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }

.backstretch {
    opacity:0.12 !important;
}
.content-inner {
    padding:0 2em;
}

hr {
    border-top-color: lighten(@body-bg, 25%);
}

.entry-title {
    color: @brand-primary;
}
p{
    font-weight:300;
}
//
//
//.frame {
//    -webkit-box-sizing:border-box;
//    box-sizing:border-box;
//    min-height:100%;
//    position:absolute;
//    overflow-x:hidden;
//    overflow-y:auto;
//    top: 0;
//    //width:12.5%; //??
//    
//}
//
//.frame-image {
//    background-image: url(/assets/img/ChrisAbaniBytClausGretter1896x1462.jpg);
//    opacity:.4;
//}
//
//.frame-image, .frame-color {
//    min-height:1150px;
//}
//
//.frame-color {
//    background-color:red;// #d1c1a7;
//}
//
//
#buy-buttons {
     position: absolute;
  background-color:lighten(@body-bg, 5%);
  z-index: @zindex-popover;
    padding: 1em .5em;
    border:1px solid lighten(@body-bg, 25%);
    
}


ul.no-bullet, ul.buy-retailers {
    list-style-type:none;
    //margin-left:0;
    padding-left:0;
}

#reviews {
    margin-top:3em;
}

article header {
     margin: 0;
     //color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid lighten(@body-bg, 16%);
    margin-bottom:2em;
 }
    article header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     article header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }



body.home h1 {
    font-family: "Amatic SC" , @headings-font-family;
    text-align:center;
    font-weight:400;
    font-size:96px;
    margin-bottom:.75em;
    color:#FFF;
    text-shadow:2px 1px 1px #000;
}
.image-shadow {
  -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.51);
}
//
.skew {
    -moz-transform: scale(1) rotate(-3deg);
-webkit-transform: scale(1) rotate(-3deg);
-o-transform: scale(1) rotate(-3deg);
-ms-transform: scale(1) rotate(-3deg);
transform: scale(1) rotate(-3deg);
}
