// COLORS //




///

.content {
    min-height:900px;
    padding: 1em 0 3em 0;
}
 .main-section {
    margin: 4em auto;
    padding: 2em 2em 0 2em;
    max-width: 1200px;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

blockquote {
    .quote;
    border-left: none;
}
.quote, .quote p {
    font-family: @font-family-quote;
    font-size: @font-size-base * 2.6;
}

footer {
    font-size: @font-size-small;
}