
{% if page.isbn %}
<div id="buy-buttons" class="list-block">


<ul class="buy-retailers small">

{% if page.asin %}

  <li>
    <a href="http://www.amazon.com/dp/{{ page.asin }}" title="Amazon" target="_blank" >
      Amazon.com
    </a>
  </li>
{% endif %}

  <li>
    <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN={{ page.isbn }}" target="_blank" >
      Barnes &amp; Noble
    </a>
  </li>

<li>
    <a href="http://www.powells.com/biblio?isbn={{ page.isbn }}" target="_blank" >
      Powells
    </a>
  </li>  

  <li>
    <a href="http://www.indiebound.org/product/info.jsp?isbn={{ page.isbn }}" target="_blank" >
        Your Local Bookstore
    </a>
  </li>  





</ul>

{% endif %}


{% if page.isbn_digital or page.asin_kindle %}

<ul class="buy-retailers small">
  <li>Digital Editions</li>

{% if page.asin_kindle %}

  <li>
    <a href="http://www.amazon.com/dp/{{ page.asin_kindle }}" target="_blank" >
      Amazon Kindle
    </a>
  </li>
{% endif %}

{% if page.isbn_digital %}
  <li>
    <a href="http://itunes.apple.com/us/book/isbn{{ page.isbn_digital }}" target="_blank" >
      Apple iBooks
    </a>
  </li>


  <li>
    <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN={{ page.isbn_digital }}" target="_blank" >
      Barnes &amp; Noble Nook
    </a>
  </li>
</ul>
{% endif %}
{% endif %}

</div>