<div class="push"></div>
<footer id="content-info">
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul class="no-bullet">
      <li class="source-org vcarfd copyright">
        <a href="/">&copy; {{ site.time | date: '%Y' }} <span class="fn">{{site.sitename}}</span></a>
      </li>    
      <li>
        <a href="http://sonnetmedia.net">site by sonnet media</a>
      </li>
    </ul>
  </div>
</footer>
{% if page.url == "/writing/" or page.url == '/media/' %}
    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/underscore-min.js"></script>
  <script src="{{site.baseurl}}/assets/js/moment.min.js"></script>
{% include scripts/events-list.js.html  %}


  {% include scripts/list.js.html  %}
{% endif %}
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>

{% include scripts/backstretch.js.html %}
{% include scripts/layout.js.html %}
