<!-- Make Sure Validation Code for email is included in the header. form uses Akismet  -->

<form action="http://getsimpleform.com/messages?form_api_token=57f94b63113c3daca6cee129dd495cf0" method="post" role="form">

<!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
<input type='hidden' name='redirect_to' value='{{site.baseurl}}/thank-you' />

<div class="row">
    <div class="large-6 columns">
      <label>Name</label>
      <input type="text" name="name" id="name"  />
    </div>
    <div class="large-6 columns">
      <label>Email Address</label>
      <input type="text" name="email" id="email" onblur="validateEmail(value)" />
       <span class="error" id="emailError" style="display: none;">Please use a valid email address</span>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
      <label>If Book Club: Where is your book club located</label>
      <input type="text" name="location" />
    </div>
</div>


 <div class="row">
    <div class="large-12 columns">
      <label>Message</label>
      <textarea name="message"></textarea>
    </div>
  </div>

 <button type="submit" class="button tiny radius">Submit</button>



</form>
