---
import Booksellers from "../../data/Booksellers.json";


export interface Props {
	title: string;
	editions: Array<{
		binding: string;
		isbn: number;
	}>;

}
const { content } = Astro.props;
const { editions, title } = content;
const services = Booksellers;

// Services
// ADD FILTER THAT SHOW == TRUE
// Filter Binding (e.g. print)
// 
// Editions
// binding
// ISBN/ASIN/Apple ID


let ServicesPrint = services.filter(service => (typeof service.type == "string") ? (service.type == "print") : (service.type.includes("print")) )

let ServicesEbook = services.filter(service => (typeof service.type == "string") ? (service.type == "ebook") : (service.type.includes("ebook")) )

let ServicesAudiobook = services.filter(service => (typeof service.type == "string") ? (service.type == "audiobook") : (service.type.includes("audiobook")) )


console.log("ServicesEbook: ", ServicesEbook)

let EditionPrint = editions.filter(edition => (edition.isbn != "") && (edition.binding === "paperback" || edition.binding === "hardcover")).slice(0, 1);

let EditionEbooks = editions.filter(edition => edition.binding === "e-book").slice(0, 1);

let EditionAudiobook = editions.filter(edition => edition.binding === "audiobook").slice(0, 1);

let isbn13 = EditionPrint[0].isbn;

var GeneratedISBN = (isbn13) => {

	var isbn = String(isbn13).substring(3, 12)

	let sum = 0;
	let mul = 10;

	for (let i = 0; i < 9; i++) {
		sum = sum + (
			mul * parseInt(isbn[i])
		);
		mul -= 1;
	}

	let checkDig = 11 - (sum % 11);

	if (checkDig == 10) { checkDig = "X"; }
	else if (checkDig == 11) { checkDig = 0; }

	let isbn10 = isbn + checkDig;

	return isbn10;

}
var isbn10 = GeneratedISBN(isbn13);
---

<!-- https://books.apple.com/us/book/the-secret-history-of-las-vegas/id666418906 -->

{EditionPrint && 
<div class="">Buy <em>{title}</em></div>
	{ServicesPrint.map(service => (
	<a href={service.url.replace(/\%s/, service.id=="amazon" ? isbn10 : EditionPrint[0].isbn )}
		target="_blank" class="block">
		{service.label}
	</a>
	))}
}

{EditionEbooks && 
<div class="">Ebook</div>
	{ServicesEbook.map(service => (
		// check if service ID exists (apple, amazon), check if 
	<a href={service.url.replace(/\%s/, service.id=="amazon" ? EditionEbooks[0].asin : EditionEbooks[0].apple_id )}
		target="_blank" class="block">
		{service.label}
	</a>
	))}
}

{EditionAudiobook && 
<div class="">Audiobook</div>
	{ServicesAudiobook.map(service => (
		// check if service ID exists (apple, amazon), check if 
	<a href={service.url.replace(/\%s/, service.id=="audible" ? EditionAudiobook[0].asin : EditionAudiobook[0].isbn )}
		target="_blank" class="block">
		{service.label}
	</a>
	))}
}
