---
import ConvertISBN from "./ConvertISBN.astro";
export interface Props {
	title: string;
	editions: Array<{
		binding: string;
		isbn: number;
	}>;

}
const { content } = Astro.props;
const { editions, title } = content;
---		

<div class="text-sm border-b inline-block mt-12">Buy {title}:</div>

{editions.map(edition =>
<ul class="text-sm mb-4">
	<li class="">
		
		<ConvertISBN isbn={edition.isbn} />
		
	</li>
</ul>
)}