---
import { Markdown } from "astro/components";
import BaseLayout from "../layouts/BaseLayout.astro";
import reviewQuotes from "../data/reviews.json";
import site from "../data/site";

let title = "Quotes I like";
let description = "Saving Quotes like baseball cards";

let reviews = reviewQuotes.slice(0, 30);
const FeaturedReview = reviews.filter(review => review.featured === true).slice(0,1);


// let allPosts = await Astro.glob('./books/*.md');
// const posts = allPosts.filter(allPosts => allPosts.frontmatter.draft === !true);

const books = (await Astro.glob('./books/*.md'))
	.filter(({ frontmatter }) => frontmatter.draft === !true)
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());




console.log(books.length)

---
<BaseLayout content={{ title, description }}>
	
	<div class="p-4 lg:p-24 w-11/12 mx-auto text-gray-300">
		<h1 class="font-brand leading-tight  text-center text-7xl md:text-[7rem]" style="text-shadow:2px 1px 1px #000;">{site.name}</h1>
		

		{books.map(post =>                         
            <li>{post.frontmatter.title}</li>
        )}


		<div class="lg:grid gap-8 grid-cols-4">
			<div class="col-span-1">
				<img src="./uploads/the-secret-history-of-las-vegas_300x465.jpg" class="w-full shadow mt-8 -rotate-6 lg:-rotate-12 bg-red-200" alt="">
			</div>
			<div class="col-span-3">
				{FeaturedReview.map((item) => (					
				<section class="p-8 font-brand text-3xl lg:text-5xl ">		
					<Markdown content={item.quote ? `<span class="-ml-4 lg:-ml-8 font-serif">“</span>${item.quote}<span class="font-serif">”</span>` : ``} />
					<Markdown content={item.source ? `<span class="block font-sans mt-8 font-bold text-base">— ${item.source}</span>` : ``} />
				</section>					
				))}
			</div>
		</div>

	</div>
</BaseLayout>