---
// import Mode from "./Mode.astro";
//import NavButton from "./NavButton.astro";
import menu from "../data/menu.yaml";
export interface Props {
  name: string;
  link: string;  
}  

const { name, link } = Astro.props;
// console.log(menu)
---
<nav>          
  <ul class="text-sm list-outside font-condensed">
    {menu.slice().map((item) => (  
      <li class={item.heading  ? `font-brand text-2xl text-gray-50 mt-2` : `mb-1 text-gray-400`}>      
        <a href={item.link ? `/${item.link}/` : `/`} class="hover:underline p-1 rounded  hover:bg-amber-700 hover:text-white">{item.name}</a>      
      </li>     
    ))}
  </ul>
</nav>