
<button
  class="text-white hover:text-gray-700 absolute left-3 top-3 text-right md:hidden z-50"
  x-on:click="open = ! open"
  :aria-expanded="open"
  aria-controls="nav-list"
>
  <svg
    x-cloak  
    class="h-6 w-6 mx-auto "
    xmlns="https://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M2 12h16M4 18h16 ">
    </path>
  </svg>
</button>