---
import { Markdown } from 'astro/components';
interface Props {  
  description?: string;
  title: string;
	content: any;	
}
const { content } = Astro.props as Props;
const { title, description } = content;
---		

{title &&
<Markdown>
	<h1 class="font-brand leading-tight text-yellow-700 text-center text-7xl" style="text-shadow:2px 1px 1px #000;">
		{title}
	</h1>
</Markdown>
}
{description &&
<Markdown>
	<h2 class='text-3xl text-center font-brand'>
		<Markdown content={content.description} />
	</h2>
</Markdown>
}
