---
import Nav from "../components/Nav.astro";
export interface Props {
  name: string;
}
import site from "../data/site.js";

const { name } = Astro.props;

let siteName = site.name;
---
<div x-transition :class="open ? 'block' : 'hidden md:block'" aria-labelledby="nav-heading" :aria-expanded="open" class="z-50 w-72 text-gray-300 bg-black md:translate-x-0 fixed right-0 top-0 bottom-0 h-full p-8  md:bg-black/50">  
  <h2 class="mb-4 font-brand text-4xl">
    <a href="/" class="hover:underline">{site.name}</a>
  </h2>
  <Nav />
</div>