---
import Nav from "../components/Nav.astro";
export interface Props {
  name: string;
}
import site from "../data/site.js";

const { name } = Astro.props;

let siteName = site.name;
---

<div class="md:w-72 text-gray-300 md:fixed md:right-0 md:top-0 md:bottom-0 md:h-full p-8 bg-black/50">
  <h2 class="mb-4 font-brand text-4xl">
    <a href="/" class="hover:underline">{site.name}</a>
  </h2>
  <Nav />
</div>