<script src="{{site.baseurl}}/assets/js/jquery.backstretch.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
        
  $.backstretchf([
  	'http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527e864de3770_1.JPG',
    'http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_529f196a2e69d_1.JPG',
        '{{site.baseurl}}/assets/img/ChrisAbaniBytClausGretter1896x1462.jpg'
        ],{duration: 8000, fade: 750}
    
  );
});
</script>