

<script>
// TODO: [X]Times show an extra 0 <-- going to leave this
// TODO: [ ]reverse ordering for past events (can fix with json file, but rather not)
// TODO: [X]conditionals to not show missing content
// TODO: [X]Links - taking out - put all info in the main post


// REQUIRES MOMENT.JS AND UNDERSCORE.JS
var timing = function(start, end) {
  // this can be improved another time <--seattlehacks
  return moment(start).format('MM/DD/YYYY h:mma') + ' - ' + moment(end).format('MM/DD/YYYY h:mma');
};

$(document).ready(function() {


  $.getJSON('{{site.baseurl}}/api/cal.json', null, function(response) {





    var groups = _.groupBy(response.events, function(event) { return moment(event.start).format('YYYY-MM-DD'); }); 
    


    days = _.sortBy(Object.keys(groups), function(day) { return day});
    //sort past event groups in descending order
      days_desc = _.sortBy(Object.keys(groups), function(day) { return day * -1 });
      





    days.forEach(function(day) {
        
      if (moment(day).isAfter(moment().subtract('days', 1))) {

        $('<h6><time class="dt-start dtstart">' + moment(day).format('MMMM Do, YYYY') + '</time></h6>').appendTo('#calendar');
        

        groups[day].forEach(function(event) {

          $('<div class="event" id="' + event.citystate + '"><h4><span class="title">' + event.citystate + '</span></h4>').appendTo('#calendar');

         if(event.allday != 'true') {
            $('<span>' + event.starttime + '</span><br />').appendTo('#calendar');
          }
 


          if(event.venue) {
            $('<span class="p-location location h-card vcard">' + event.venue + '<br />' + event.address + '</span>').appendTo('#calendar');
          }
      
          if(event.summary) {
            $('<br /><span class="p-name summary">' + event.summary + '</span>').appendTo('#calendar');
            }

          if(event.website) {
            $('<br /><a href="' + event.website + '" class="small">website</a>').appendTo('#calendar');
          }
        
        $('</div><hr />').appendTo('#calendar');

        });
      


      }

  
  });    








days_desc.forEach(function(day) {
        
      
 
      if (moment(day).isBefore(moment().subtract('days', 1))) {
        $('<h6><time class="dt-start dtstart">' + moment(day).format('MMMM Do, YYYY') + '</time></h6>').appendTo('#calendar-past');
        groups[day].forEach(function(event) {



          $('<div class="event" id="' + event.citystate + '"><h4><span class="title">' + event.citystate + '</span></h4>').appendTo('#calendar-past');

         if(event.starttime) {
            $('<span>' + event.starttime + '</span><br />').appendTo('#calendar-past');
          }
 


          if(event.venue) {
            $('<span class="p-location location h-card vcard">' + event.venue + '<br />' + event.address + '</span>').appendTo('#calendar-past');
          }
      
          if(event.summary) {
            $('<br /><span class="p-name summary">' + event.summary + '</span>').appendTo('#calendar-past');
            }

          if(event.website) {
            $('<br /><a href="' + event.website + '" class="small">website</a>').appendTo('#calendar-past');
          }
        
        $('</div><hr />').appendTo('#calendar-past');
        




        });
      }
  
  });    














  
  
  
  });
});
    </script>