---
// Imports
import BaseLayout from "../../layouts/BaseLayout.astro";
//import {generateCategoryData} from '../../utils/helpers.js'
export interface Props {
	bgImage?: string;
	description?: string;
	editions: Array<{
		binding: string;
		isbn: string;
		asin: string;
		apple_id: string;
	}>;
	title: string;
}


export async function getStaticPaths({ paginate }) {

	const allBooks = await Astro.glob('../book/*.md');
	const filterKeys = ['genre'];

	const filters = [
		...new Set(
			allBooks.reduce((curr, book) => {
				filterKeys.forEach((key) => {
					if (!book[key]) return;
					curr.push(book[key]);
				});
				return curr;
			}, [])
		),
	];


	return filters.map((filter) => {
		const filteredPosts = allBooks.filter((book) =>
			filterKeys.some((key) => book[key] === filter)
		);

		return paginate(filteredPosts, {
			params: { slug: slugify(filter) },
			props: { filter },
			pageSize: 20,
		});
	});



}



const { page, filter, bgImage = "url(/uploads/bg-cartographer_darker.jpg)" } = Astro.props;
// const { title, description } = content;




const title = "Books:";
let description = 'Listing of all post categories.';
---

<BaseLayout content={{ title, description, bgImage }}>

	<article class="post">
		<header class="post__header">

		</header>
		<section class="post__content">
			<ul>
				{allCategoriesData.map(category => (
                <li><a href={`/news/${category.slug}`}>{category.name}</a></li>
            ))}
			</ul>
		</section>
	</article>
</BaseLayout>