---
import Page from "../../layouts/Page.astro";
export interface Props {
	bgImage?: string;
	description?: string;
	editions: Array<{
		binding: string;
		isbn: string;
		asin: string;
		apple_id: string;
	}>;
	title: string;
}
const { editions, bgImage = "url(/uploads/bg-cartographer_darker.jpg)" } = Astro.props;

const title = 'Books';
const description = "All Books"
const books = await Astro.glob('../book/*.md');

const publishedBooks = books.filter(book => (book.frontmatter.draft != true)).filter(book => (book.frontmatter.editions != null))

const sortedBooks = publishedBooks.sort(
	(a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
);
---

<Page content={{ title, description, bgImage }}>
	<div class="sm:grid grid-cols-2 lg:grid-cols-3 gap-8 not-prose">
		{sortedBooks.map(book => (
		<a href={book.url} class="no-underline w-3xl m-0">
			{book.frontmatter.editions &&
			<img src={book.frontmatter.editions.map(edition=> (edition.cover_image)).slice(0,1)} class="inline-block w-full
			p-0 " />
			}
			<span class="text-xs">{new Date(book.frontmatter.date).getFullYear()}</span>
		</a>
		)
		)}
	</div>
</Page>