---
layout: default
section: book
---
<article>
	<header>
	  <h1 class="entry-title">    	   
	   	{{page.title}}
	  </h1>
	</header>
	<div class="row" style="margin-bottom:8rem;">
		<div class="large-11 large-centered columns">
			<div class="large-12">
        {% include books/related-review.html show="1" %}
      </div>
			<div class="large-4 columns">
				{% include books/cover-meta.html %}
			</div>
			<div class="large-8 columns">
				{{ content }}
			</div>
			<div class="large-12 columns" id="reviews">
				{% include books/related-reviews.html show="100" offset="1" %}
			</div>
		</div>
	</div>
</article>
