.list-block {
  clear: both;
  width: 100%;
  height: 200px;
}
ul.buy-retailers {
  background-color: #FFF;
  padding: 1em;
  border-radius: 3px;
  width: 220px;
  width: 100%;
  float: left;
  margin-right: 2em;
  min-height: 219px;
}
ul.buy-retailers li {
  list-style-type: none;
  color: #999;
  margin-bottom: .5em;
  text-transform: lowercase;
  display: inline-block;
  margin-right: 3em;
}
ul.buy-retailers li a {
  margin-bottom: 1em;
  margin-top: 8px;
}
