---
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
const { content } = Astro.props;
const { title, description, publishDate, author, permalink, bgImage } =
  content;
---

<style define:vars={{ bgImage }}>
  #wrapper {  
    background-image: var(--bgImage);

  }
</style>

<!DOCTYPE html>
<html lang={content.lang || "en"}>
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>
  <body>
    <div id="wrapper" class="md:pr-64 h-full min-h-full flex flex-col justify-between bg-cover bg-fixed bg-no-repeat">
      <div id="content" class="min-h-screen text-white">         
        <slot />
      </div>
      <Sidebar />
      <Footer />       
    </div>      
  </body>
</html> 
