---
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import NavButton from "../components/NavButton.astro";
const { content } = Astro.props;
const { title, description, permalink, bgImage } = content;

---

<!DOCTYPE html>
<html lang={content.lang || "en" }>

<head>

  <style define:vars={{ bgImage }}>
    #wrapper {
      background-image: var(--bgImage);

    }
  </style>
  <BaseHead {title} {description} {permalink} />

</head>

<body x-data="{ open: false }" class="bg-black">
  <div id="wrapper"
    class="relative md:pr-64 h-full min-h-full flex flex-col justify-between bg-cover bg-fixed bg-no-repeat">
    <NavButton />
    <Sidebar />
    <div id="content" class="min-h-screen text-white">
      <slot />
    </div>

    <Footer />
  </div>
</body>

</html>