---
import BaseLayout from "../layouts/BaseLayout.astro";
import BookCover from "../components/books/BookCover.astro";
// import DataEditions from "../components/books/DataEditions.astro";
import BuyLinks from "../components/books/BuyLinks.astro";
import PageTitle from "../components/PageTitle.astro";
export interface Props {
  bgImage?: string;
  description?: string;
  content: any;
  title: string;
}
const { content, bgImage = "url(/uploads/bg-cartographer_darker.jpg)" } = Astro.props;
const { title, description, editions } = content;
---

<BaseLayout content={{ title, description, bgImage }}>
  <div class="min-h-screen">
    <article class="p-4 lg:p-24 w-3/4 mx-auto text-white">
      <PageTitle content={{ title, description }} />
      <div class="prose lg:prose-lg prose-invert mx-auto mt-8">
        <BookCover content={{ editions, title }} />
        <slot />        
        <BuyLinks content={{ editions, title }}/>
      </div>
      <!-- <DataEditions content={{ editions, title }} /> -->
    </article>
  </div>
</BaseLayout>