---
import { Markdown } from 'astro/components';
import BaseLayout from "../layouts/BaseLayout.astro";
  export interface Props {
    bgImage?: string;
  }
  const { bgImage = "url(../uploads/bg-cartographer_darker.jpg)" } = Astro.props as Props;

  const { content } = Astro.props;
  const { title, description, publishDate, author, heroImage, permalink, alt } =
    content;


---

<BaseLayout content={{ title, description, bgImage }}>
  <div class="min-h-screen">
    <article class="p-4 lg:p-24 w-3/4 mx-auto text-white">
      <h1 class="font-brand leading-tight  text-center text-7xl md:text-[7rem]" style="text-shadow:2px 1px 1px #000;">
        {title}</h1>
      <p class="font-2xl">{description}</p>
      <div class="prose lg:prose-lg  mx-auto mt-8">        
        <slot />        
      </div>
    </article>
  </div>
</BaseLayout>